.modal{
  background-color:#6666;
  width: 50%;
  height: 50%;
  position: absolute;
  margin-left: 40vh;
  // margin-top: 10vh;
  // border-radius: 10px;
  // border: solid 1px black;
  // box-shadow: 2px 2px 8px rgba(59, 59, 59, 0.5);
  z-index:1010;
}